body {
	font-family: 'Montserrat Alternates', sans-serif;
}

.title {
  text-align: center;
}

.pokemonList {
  margin-top: 80px;
}

.pokemons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 830px;
  margin: 0 auto;
  gap: 10px;
  box-sizing: border-box;
}

.pokemon {
  width: 200px;
  height: 200px;
  background-color: #ffa;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 8px;
  text-transform: capitalize;
  transition: all .4s ease;
  box-shadow: 0 0 3px #b7b7b7;
}

.pokemon:hover {
  background-color: rgb(205, 205, 106);
}

.pokemon:hover img {
  transform: scale(1.3);
}

.pokemon img {
  width: 110px;
  image-rendering: pixelated;
  transition: all .1s ease;
}

.pagination {
  text-align: center;
  margin-top: 40px;
}


.pagination button {
  border: 2px solid #f1f1f1;
  background-color: #f8f8f8;
  padding: 10px 20px;
  border-radius: 8px;
}

.pagination span {
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 800;
  color: #333
}

.pagination button:hover {
  border: 5px inset #f1f1f1;
}

.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.loginForm {
  width: 300px;
  background-color: #ffa;
  border-radius: 8px;
  text-transform: capitalize;
  transition: all .4s ease;
  box-shadow: 0 0 3px #b7b7b7;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.loginForm input,
.loginForm button {
  padding: 10px;
  margin: 5px;
}

.loginForm button {
  border: 5px outset #f1f1f1;
  background-color: #f8f8f8;
  padding: 10px 20px;
  border-radius: 8px;
}

.loginForm button:hover {
  border: 5px inset #f1f1f1;
}